<h1> This page is for people who wish to cook food but need to be approved. </h1>
<h1> Please provide your identification documents and agree that you will adhere to safe food practices.  </h1>
<h1> If you do not wish to sign up as a cook, please return to the homepage by clicking the link below. </h1>



<% if user_signed_in? %>
    <%= link_to "logout", destroy_user_session_path, method: :delete %>
<%end %>

 <div> <%= link_to "Homepage", root_path %> </div>

 