
<% if user_signed_in? %>
    <h1> This page is for delivery partners. This page will display information about pickup address, delivery address, and estimated pay for the delivery driver.  </h1>
    <%= link_to "logout", destroy_user_session_path, method: :delete %>
  <%else %>
  <p>Please Sign Up or Sign In to view the content.</p>
  <%= link_to "Login", new_user_session_path %>

  <h2><%= link_to "Sign up", new_user_registration_path%>

<% end %>
